<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Tanmay Agrawal</title>
</head>

<body>
    <header>
        <p class="logo">Tanmay Agrawal</p>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
        <div class="hover">
            <p>I am a <b>C</b>oder <b>D</b>esigner <b>A</b>rtist </p>
        </div>
    </header>
    <section class="about">
        <div class="grid-2-col content container">
            <div class="about-text">
                <h1>About me</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, deleniti sit possimus illum
                    blanditiis reiciendis iusto! Eligendi dolorum eum dignissimos, molestiae deserunt neque quasi
                    ratione, quia vero expedita non iusto.
                </p>
                <div class="cta">
                    <a>buttton1</a>
                    <a>button2</a>
                </div>

            </div>
            <div class="image">
                <img src="static/about.gif" alt="multitasking guy">

            </div>

        </div>
    </section>

</body>

</html>